.Rproj.user
.Rhistory
.RData
.Ruserdata
.csv
/data
10thsept.RData
11thsept.RData
Rplots.pdf
bauges_df.csv
bauges_results.RData
bauges_results2.RData
fd_lasaois.RData
metrics_indices.csv
metrics_indices_w_ba.csv
metrics_indices_w_ba_mets.csv
one_angle_results.RData
plots_in_73.xls
plots_in_74.xls
results
temp.RData
two_angle_results.RData
14jan.RData
5thjan2021.RData
plots_in_73 (Karun's conflicted copy).xls
1stapril.RDataTmp
24thmarch.RData
mdls_24thfeb.RDataTmp
plots.pdf
plots1.dbf
plots1.prj
plots1.shp
plots1.shx
testxx.RData
